.game-container {
    height: auto;
    width: 100%;
    margin-top: -20px;
}

.game-container {
    font-size: 43px;
    font-weight: bold;
}

.pokemon-list-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.pokemon-card {
    max-width: 20%;
    margin: 20px;
    background-color: blanchedalmond;
    font-size: 20px;
    border-radius: 10px;
}

.name-pokemon-container {
    padding: 5px;
    display: flex;
    font-weight: bold;
}

.name-pokemon-container img {
    height: 25px;
    margin-right: 10px;
}

.pokemon-card div {
    background-color: #C6A2D7;
}

.pokemon-card img {
    max-width: 100%;
}
.spinner{
    animation: spinner-loading 0.5s linear infinite;
}

@keyframes spinner-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1100px) {
    .pokemon-list-container {
        flex-wrap: wrap;
    }
    .pokemon-card{
        font-size: 12px;
    }
    .name-pokemon-container img {
        height: 17px;
    }
}

@media (min-width: 850px) and (max-width: 1100px) {
    .pokemon-card {
        max-width: 17%;
    }
}

@media (max-width: 600px) {
    .pokemon-card {
        font-size: 8px;
    }
    .name-pokemon-container img {
        height: 10px;
    }
    .name-pokemon-container img {
        margin-right: 5px;
    }
    .pokemon-card {
        margin: 10px;
    }
    .game-container{
        font-size: 30px;
    }
    .button button{
        font-size: 30px !important;
    }
}