.logo{
    width: 100%;
}

.form-container{
    margin-top: 140px;
    font-size: 25px;
}

.label-form{
    font-size: 30px;
}

.button{
    background-color: #356ABC !important;
    border: #356ABC solid 6px !important;
    font-size: 25px !important;
    color: black !important;
}

.button:hover{
    background-color: #FFCD00 !important;
    transform: scale(1.2);
    text-decoration: none;
}

.form-container input{
    font-size: 25px !important;
    width: 80% !important;
}

.input-container{
    display: flex;
    justify-content: center;
}

.input{
    width: 60% !important;
}

.button-form a:hover{
    text-decoration: none;
}

@media (max-width: 992px) {
    .form-container{
        margin-top:100px
    }
}

@media (max-width: 800px) {
    .input {
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    .button{
        font-size: 15px !important;
    }
    .label-form{
        font-size: 25px;
    }
}


