.modal-body{
    display: flex;
    justify-content: center;
}
.amount-pokemons-info{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.pokemon-icon {
    height: 15px;
    margin-right: 10px;
}